.intro {
  text-align: left;
  padding: 0 22px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, .54);
}
ons-card {
  cursor: pointer;
  color: #333;
}
.card__title, .card--material__title {
  font-size: 20px;
}
